#drop {
  padding-right: 30px;
}

.lang-selector {
  background-color: transparent;
  border: 1px solid #ccc; /* Match with navbar */
  color: #333;
  font-size: 0.9rem; /* Adjust font size */
  height: 36px;
  padding: 5px 10px;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-appearance: none; /* Remove default arrow in webkit browsers */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow for all browsers */
  position: relative;
}

.lang-selector:focus {
  outline: none;
  border: 1px solid #ccc;
}

.lang-selector::after {
  content: "\2193"; /* Unicode character for down arrow */
  font-size: 16px;
  color: #333;
  position: absolute;
  top: 50%;
  right: 10px; /* Position arrow on the right */
  transform: translateY(-50%);
  pointer-events: none; /* Make sure arrow is not clickable */
}

.lang-selector:focus::after {
  color: #007bff; /* Change color of the arrow on focus */
}

select#drop.form-select.form-select-sm.lang-selector {
  color: rgba(178, 13, 13, 0.85);
}

.material-icons {
  color: #070505;
}

.dropdownDiv {
  padding-right: 0;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1000;
}

/* Dodaj stilove za back i forward dugmadi */
/* Dodaj stilove za back i forward dugmadi */
/* Stilovi za back button */
.backButton {
  font-size: 9px;
  color: red;
  border: none;
  border-radius: 30%;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 30px; /* Margin sa desne strane za back dugme */
}

.backButton:hover {
  color: white;
}

.backButton i {
  font-size: 16px;
}

/* Stilovi za forward button */
.forwardButton {
  font-size: 9px;
  color: red;
  border: none;
  border-radius: 30%;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 30px; /* Margin sa leve strane za forward dugme */
}

.forwardButton:hover {
  color: white;
}

.forwardButton i {
  font-size: 16px;
}
