/* Generalni stilovi */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h2 {
  text-align: center;
  color: #333;
}

/* Upload sekcija */
.file-upload-container {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.file-input {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.upload-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-btn:hover {
  background-color: #0056b3;
}

.status-message {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

/* Download sekcija */
.file-download-container {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.download-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #218838;
}

/* Stilizacija za Drag and Drop */
.file-drop-area {
  width: 100%;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
}

.file-drop-area.dragover {
  border-color: #00b0ff;
  background-color: #e3f7ff;
}

.file-input {
  display: none;
}

.upload-btn,
.download-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.status-message {
  margin-top: 10px;
  color: green;
}

.file-dropdown {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
